.about {
  color: #6A7562;
}

.juntas {
  width: 250px;
}

.about-us {
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .d-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .juntas {
    width: 200px;
  }

  .about {
    font-size: 1rem;
  }
}


@media screen and (max-width: 480px) {
  .juntas {
    width: 150px;
  }

  .about {
    font-size: 0.9rem;
  }
}