
@media screen and (max-width: 768px) {

.aboutUs-container {
    display: flex;
    width: 100%;
    flex-direction: column !important;
    align-items: center !important;
    padding: 10px;
}

.aboutUs-subtitle {
  font-style: italic !important;
}

  .picture {
    width: 250px !important; 
    margin-bottom: 20px;
  }
}