.admin-container {
  background-color: #F2E5D5;
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-header {
  text-align: center;
  color: #6A7562;
  font-size: 1.5em;
}

.admin-table-container {
  margin-top: 20px;
  overflow-x: auto;
  max-width: 100%;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #AFB796;
  color: #6A7562;
  border-radius: 8px;
  table-layout: auto;
}

.admin-table th, .admin-table td {
  padding: 5px 30px;
  border: 1px solid #6A7562;
  text-align: center;
  white-space: nowrap;
  height: 50px;
  font-weight: bold;
}

.admin-table th {
  background-color: #6A7562;
  color: white;
}

.auto-width {
  width: auto;
}

.delete-btn {
  background-color: #6A7562;
  color: white;
  border: none;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn:hover {
  background-color: #8e9b84;
  color: white;
}

.admin-past-date-row {
  background-color: #d3d3d3;
  color: #6A7562;
}

.admin-within-24h-row {
  background-color: #DAB79F;
  color: #6A7562;
}

.italic {
  font-size: 110%;
}

/* Estilos Responsivos */
@media screen and (max-width: 768px) {
  .admin-header {
      font-size: 0.8em;
  }

  .admin-table-container {
      overflow-x: auto;
  }

  .admin-table th, .admin-table td {
      padding: 6px;
      font-size: 0.82em;
      height: 35px;
  }

  .delete-btn {
      padding: 5px 6px;
      font-size: 0.9em;
  }
}

.search-input {
  background-color:  #AFB796;
  color: #6A7562;
}
