.card-detail {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

.detail-content img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.detail-content h2 {
    margin-bottom: 10px;
}

.detail-content p {
    margin-bottom: 20px;
}
