
/* Estilo general para el contenedor del formulario */
.form-reservations-container {
  background-color: #F2E5D5; /* Fondo beige */
  padding: 15px;
  border: 2px solid #6A7562; /* Verde oscuro */
  border-radius: 10px;
  font-family: "Josefin Sans", serif;
  width: 95%;
}

/* Estilo de la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

/* Encabezado de la tabla */
.table thead {
  background-color: #6A7562; /* Verde oscuro */
  color: #F2E5D5; /* Beige */
}

.table td {
  color: #6A7562; /* Verde oscuro */
  font-weight: bold;
}

.table td input {
  vertical-align: middle; /* centrado vertical de los radiobuttons */
  }

/* Estilo para ajustar el ancho de las columnas */
.table th,
.table td {
  padding: 3px;
  text-align: center;
  margin: 0px; /* Margen para justificar ancho */
  word-break: break-word;
  vertical-align: middle;
}

/* Estilo para las filas */
.table tbody tr {
  /* background-color: rgb(194, 194, 215); Lila */
  background-color: #AFB796;  /* Verde claro */
  transition: background-color 0.3s ease;
}

/* Resaltar filas al pasar el ratón */
.table tbody tr:hover {
  background-color: #DAB79F;  /* naranja tierra */
  cursor: pointer;
}

/* Horas no disponibles */
.no-available td {
  background-color: rgb(172, 169, 169); /* gris */
  pointer-events: none; /* evita la selección */
  color: white;
}

/* Estilo de los radios disponibles */
.table tbody tr td input[type="radio"]:enabled {
  cursor: pointer;
}

/* Cambiar color del interior de los radios seleccionados */
.table tbody tr td input[type="radio"]:checked {
  accent-color: rgb(179, 110, 67);
}

/* Estilo de los radios no disponibles */
.table tbody tr td input[type="radio"]:disabled {
  pointer-events: none;
  visibility: hidden;
}

/* Botón */
.reservation-button {
  background-color: #6A7562; /* verde oscuro */
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.reservation-button:hover {
  background-color: #AFB796;  /* Verde claro */
  color: #6A7562;  /* Verde oscuro */
}

/* Texto centrado */
.text-center {
  text-align: center;
}

/* Títulos */
h1, h2 {
  color: #6A7562;  /* Verde oscuro */
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 40px;
}

h3 {
  color: #6A7562;  /* Verde oscuro */
  font-weight: bold;
}

/* Adaptación móvil */
@media (max-width: 768px) {
  .form-reservations-container {
    padding: 10px;
    width: auto;
  }

  .reservation-button {
    font-size: 15px;
  }

  /* Ajustar texto en celdas */
.table th,
.table td {
  padding: 5px;
  font-size: 0.9em;
  text-align: center;
  vertical-align: middle;
}

  /* Estilo de los radios disponibles */
.table tbody tr td input[type="radio"]:enabled {
  cursor: pointer;
}

.table td input {
  vertical-align: middle; 
  }



}