.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90vh;
    padding: 0px;
  }

   .image-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .titlenovem {
    font-family: "Montserrat", serif;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: start;
    padding: 10px 40px;
    background-color: white;
    z-index: 1; 
  }
  
  .imageconsultories {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 8px;
    left: 0;
    opacity: 0.95;
    z-index: 0;
  }
  
.scroll-button {
  position: absolute;
  bottom: 20px;           
  left: 50%;              
  transform: translateX(-50%);
  width: 50px;            
  height: 50px;
  border: none;
  border-radius: 50%;     
  background-color: #6A7562; /* verde obscuro*/
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;             /* por encima de la imagen */
  transition: transform 0.2s ease;
}

.scroll-button:hover {
  transform: translateX(-50%) scale(1.1);
}

.scroll-button svg {
  color: #fff;            
  width: 24px;
  height: 24px;
}

  /* Estilos Responsivos */
@media screen and (max-width: 768px) {
  .title {
    font-size:xx-large;
  }

  .titlenovem {
    padding: 10px 25px;
  }

  .imageconsultories {
    top: 0px;
  }
  
  .scroll-button {
    bottom: 20px;           
  }

  .hero-container {
    height: calc(90vh - env(safe-area-inset-bottom, 0px));   /* restar la altura de la barra inferior para que el 90vh no se extienda tras ella */
    height: calc(90vh - constant(safe-area-inset-bottom, 0px));   /* para navegadores iOS antiguos */
    padding: 0;
    padding-bottom: env(safe-area-inset-bottom, 0px);     /* añade un padding bottom igual al inset para que nada se “esconda” tras la barra inferior */
    padding-bottom: constant(safe-area-inset-bottom, 0px);
  }

  .scroll-button {
    bottom: calc(env(safe-area-inset-bottom, 0px) + 15px);
    bottom: calc(constant(safe-area-inset-bottom, 0px) + 15px);
  }

}