.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90vh;
    padding: 0px;
  }

   .image-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .titlenovem {
    font-family: "Montserrat", serif;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: start;
    padding: 10px 40px;
    background-color: white;
    z-index: 1; 
  }
  
  .imageconsultories {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.95;
    z-index: 0;
  }
  
  /* Estilos Responsivos */
@media screen and (max-width: 768px) {
  .title {
    font-size:xx-large;
  }

  .titlenovem {
    padding: 10px 25px;

  }


}