body {
  background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA4L2pvYjExMzctYmFja2dyb3VuZC0wMDYuanBn.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  margin: 0; 
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #5b493e;
}

.body-inicio {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(91, 73, 62, 0.5); 
  }

.button-pastel {
    background-color:#DAB79F ; 
    color: #5b493e; 
    padding: 10px 20px;
    border:#5b493e;
    border-radius: 8px; 
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
  }
  
  .button-pastel:hover {
    background-color: #d8a380; 
  }
  
  .logo-imagen {
    max-width: 150px; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}



  
 