.navbarcolor {
  background: #6a7562;
}

.dos {
  background-color: #afb796;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

.closenav {
  background-color: #afb796;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

.closenav:hover {
  background-color: rgba(233, 129, 129, 0.811);
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.navbar-nav .nav-item {
  display: flex;
  justify-content: flex-start;
}

.nav-link svg {
  vertical-align: middle;
}

.adminbutton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #F2E5D5;
  font-weight: bold;
  font-size: 20px;
}


.navbar-profile {
  margin-left: auto;
}

@media (max-width: 768px) {
  .navbar-collapse {
    justify-content: flex-start;
    width: 100%;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-left: 0;
  }

  .navbar-nav .nav-item {
    width: 100%;
    justify-content: flex-start;
  }

  .navbar-nav .nav-link {
    text-align: left;
    width: 100%;
  }

  .navbar-profile {
    order: 1;
  }

  .btn-consult {
    background-color: #6A7562;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .btn-consult:hover {
    background-color: #AFB796;
    color: #6A7562;
  }

  .btn-consult:active {
    background-color: #9AA082;
    transform: translateY(1px);
  }

  .inicio {
    background-color: #afb796;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-toggler span {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
  }

}