
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #F2E5D5; 
}


.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2E5D5;
  padding: 30px;
  flex-direction: column; 
  max-width: 900px;
  width: 100%;
  gap: 20px;
}


.loginimage {
  width: 250px;
  max-width: 100%;
  height: auto;
}


.form-content {
  width: 100%;
  max-width: 370px;
}


.boton {
  width: 100%;
  font-weight: bold;
  padding: 10px;
  background-color: #6A7562; 
  color: white; 
  border: none;
  border-radius: 5px;
}

.boton:hover {
  background-color: #afb796; 
}


.customs-links {
  text-decoration: none;
  color: #6A7562; 
}

.customs-links:hover {
  color: #afb796; 
}


@media (max-width: 768px) {
  .login-content {
      padding: 20px;
  }

  .loginimage {
      width: 200px;
  }

  .form-content {
      width: 100%;
  }
}
